**/__pycache__/
.vscode



session_name.session
session_name.session-journal
BANNED_FILES/UsersInfo.txt
BANNED_FILES/UserComments.txt
BANNED_FILES/UsersСontest.json
BANNED_FILES/Skeddy_texts.txt
BANNED_FILES/config.py
BANNED_FILES/.env
